/******************************************/
/*		IE fixes for forms								 */
/******************************************/
* html fieldset, 
*+html fieldset{position:relative!important;padding:35px 10px 10px!important;background-color:#f4f4f4!important;}
* html fieldset legend, 
*+html fieldset legend {position:absolute; top:-1px;border-top:1px solid #ddd!important;}

* html .preownedtestdrive .txt-area, *+html .preownedtestdrive .txt-area, 
* html .newtestdrive .txt-area, *+html .newtestdrive .txt-area,
* html .contactus .txt-area, *+html .contactus .txt-area {width:605px;}
* html .contactusSmall .txt-area, *+html .contactusSmall .txt-area  {width:290px;}
* html .staffEmail .txtarea, *+html .staffEmail .txtarea {width:310px;}

* html .form-group, *+html .form-group {width:auto!important;}
* html select, *+html select  {width:150px!important;margin-right:12px!important;}

* html #tradeEstimate .next, *+html #tradeEstimate .next, 
* html #tradeEstimate .prev, *+html #tradeEstimate .prev {background-color:#555;color:#fff;}
* html #step-5 .form-group, *+html #step-5 .form-group {width:350px;}
* html #step-5 .form-group label, *+html #step-5 .form-group label{width:350px;}
* html #step-5 .form-group textarea, *+html #step-5 .form-group textarea{width:320px;}
* html .btnsubmit , *+html .btnsubmit {
	background-color:#790000;
	color:#FFFFFF;
	display:block;
	font-size:12px;
	padding:5px;
	margin-top:5px;
	border:1px solid #ddd;
}